body {
    direction: rtl;
    text-align: right;
    font-family: Arial;
    background-color: #f5f5f5;
    margin: 20px;
}

.student-info {
    background-color: #dff0d8;
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
}

h1 {
    color: #2e7d32;
}

h2 {
    color: #388e3c;
}

p, li {
    font-size: 18px;
}

img {
    width: 300px;
    border-radius: 10px;
}

video {
    width: 400px;
    margin-top: 10px;
}

form {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 400px;
}

input, textarea {
    width: 100%;
}
